* {
    margin: 0;
    padding: 0;
}

.body-background {
    background-color: #2D3075;
}

.navbar-css {
    background-color: #FFBC0F;
}

ul li a {
    text-decoration: none;
    font-family: 'Suwannaphum';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1rem;
    color: #000000;
    padding: 0.5rem 1rem;
}

ul li a:hover {
    text-decoration: none;
    font-family: 'Suwannaphum';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1rem;
    color: #2D3075;
    padding: 0.5rem 1rem;
}

.footer-background {
    background: #FFBC0F;
}

.img-footer {
    width: 200px;
    padding: 1em;
}

.text-portfolio {
    position: absolute;
    font-family: 'Suwannaphum';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
    padding: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;

}

/*NOSOTROS*/
.background-main{
    background-color: #2D3075;    
    font-family: 'Suwannaphum';
    color: #FFBC0F;
    text-align: center;
}
h4{
    font-family: 'Suwannaphum';
    color: #FFFFFF;
}
.trayectoria{
    color: #FFBC0F;
    
}
.img-footer{
    width: 100px;
}
.footer-nosotros{
    background-color: #FFBC0F;
    
}

/*CONTACTO*/

.titulo-contacto{
    margin-top: 30px;
    font-family: 'Suwannaphum';
    color:#2D3075;
    font-size:35px;
    text-align: center;
}
.invitacion-formulario{
    margin-top: 25px;
    font-family: 'Suwannaphum';
    color:#2D3075;
    font-size:25px;
    margin-left: 75px;
}